.slideEnterLeft {
  transform: translateX(-60px);
  opacity: 0;
  transition: all 0.6s ease;
}

.slideEnterLeft.active {
  transform: translateX(0);
  opacity: 1;
}

@media (max-width: 1284px) {
  .image {
    max-width: 550px;
  }
}
@media (max-width: 1029px) {
  .image {
    max-width: 400px;
  }
}